<div class="layout">
    <input name="nav" type="radio" class="nav guests-radio" id="guests" checked="checked" />
    <div class="page guests-page">
        <div class="page-contents">
            <h1>Guests</h1>
            <app-guests></app-guests>
        </div>
    </div>
    <label class="nav" for="guests">
        Guests
    </label>

    <input name="nav" type="radio" class="Rooms-radio" id="Rooms" />
    <div class="page Rooms-page">
        <div class="page-contents">
            <h1>Rooms</h1>
            <app-rooms></app-rooms>
        </div>
    </div>
    <label class="nav" for="Rooms">
        Rooms
    </label>

    <input name="nav" type="radio" class="Activities-radio" id="Activities" />
    <div class="page Activities-page">
        <div class="page-contents">
            <h1>Activities</h1>
            <app-activities></app-activities>
        </div>
    </div>
    <label class="nav" for="Activities">
        Activities
    </label>

    <input name="nav" type="radio" class="Hotels-radio" id="Hotels" />
    <div class="page Hotels-page">
        <div class="page-contents">
            <h1>Hotels</h1>
            <app-hotels></app-hotels>
        </div>
    </div>
    <label class="nav" for="Hotels">
        Hotels
    </label>

    <input name="nav" type="radio" class="Staff-radio" id="Staff" />
    <div class="page Staff-page">
        <div class="page-contents">
            <h1>Staff</h1>
            <app-staff></app-staff>
        </div>
    </div>
    <label class="nav" for="Staff">
        Staff
    </label>
</div>